header
{
	background-image: url(../img/superior.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 34em;
	nav
	{
		a
		{
			color: $blanco;
		}
	}
}