
.pie2
{
	background-image: url(../img/footer_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 23rem;
	nav
	{
		a
		{
			color: $blanco!important;
		}
	}
}