/* COLORES */
$principal    :#f53756;
$secundario   :#4D9999;
$blanco       :#ffffff;
$negro        :#232323;
$gris         :#E2E2E2;
$amarillo     :#E0E936;
$verde       :#00CA00;

$font-main  :    "Raleway", sans-serif;
$font-secund    : "Monserrat",sans-serif;