h1,h2,h3,h4,h5,h6,
a
{
	color: $negro!important;
	font-family: $font-main;
}
.bg-principal
{
	background-color: $principal!important;

}
.btn-secundario
{
	background-color: $secundario;
	color: $blanco;
	&:hover
	{
		background-color: darken($secundario,10%);
	}
}
.text-principal
{
	color: $principal;
}
.h-especial
{
	font-family: $font-secund;
}