/* COLORES */
$principal    :#037bc0;
$secundario   :#76B911;
$blanco       :#ffffff;
$negro        :#232323;
$gris         :#E2E2E2;

$font-main    : "Playfair Display",serif;
$font-secund  : "Raleway", sans-serif;