@import "variables";
@import "generales";
@import "site/header";
@import "site/lineUp";
@import "site/conteo";

#menu
{
	& .fixed-top
	{
		-webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.33);
		-moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.33);
		box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.33);
	}
	@media only screen and(min-width: 768px)
	{

	}
}