.header {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height : 30rem;
	.nav a {
		color: $blanco;
	}
	.titulo {
		font-weight: 700!important;
	}
	a.text-light:hover {
		color: $negro!important;
	}

	.buscador {
		min-height: 25rem;
		font-family: $font-principal;
	}
}