.separador
{
	&::after
	{
		content: "";
		display: block;
		background-image: url(../img/separador.png);
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0 auto;
		width: 300px;
		height: 90px;
	}
}
/* BACKGROUNDS */
.bg-principal
{
	background-color: $principal;
	color: $blanco;
}
.bg-secundario
{
	background-color: $secundario;
	color: $negro;
	padding: 2px 4px;
	border-radius: 4px;
	margin-left: 7px;
}
.bg-gris
{
	background-color: $gris;
}
/* TEXTOS */
.text-primary
{
	color: $principal!important;
}