.menu
{
	border-top: 0.7px solid #DBDBDB!important;
}
.imb-bg-header
{
	background-image: url(../img/principal.jpg);
	height: 500px;
	background-size: cover;
	background-position: center center;
}


.bg-image
{
	background-image: url(../img/nosotros.jpg);
	background-size: cover;
	height: 480px;
	background-position: center center;
	// margin-bottom: 200px;
}
.nosotros
{
	background-color: $principal;
}


































































































































































