.row_product_1
{
	background-image: url(../img/producto1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 350px;
}

.card
{
	 h3,h4,h5
	 {
	 	color: $blanco!important;
	 }
}